<form action='/createUser' method='POST'>
  <lable>Nome:</lable>
  <input type='text' placeholder='Entre com seu nome' id='nome' name='nome'/>
  <lable>Idade:</lable>
  <input type='number' placeholder='Entre com sua idade' id='idade' name='idade' />
  <button type='submit'>Cadastrar!</button>
</form>